/* lila fachero #C6C3E3
lavanda #686396
beiche #E3DEC3
blanco puro #FFFFFF
cafe con leche #969172 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Navigation {
    max-width: 100vw;
    font-family: 'Rubik';
    background-color: #FFFFFF;
    color: #222222;
    display: flex;
    flex-direction: column;
}

.ContainerNavigationTransparent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    background-color: transparent;
    z-index: 101;
    width: 100%;
    padding: .75rem 0 .75rem 0;
    transition: .5s ease-in-out;
}

.ContainerNavigationColor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    background-color: #969172;
    z-index: 101;
    width: 100%;
    padding: .75rem 0 .75rem 0;
    transition: .5s ease-in-out;
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);
}


.DivNavigation {
    align-self: center;
}

.UlNavigationList {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.LiNavigationItem {
    list-style-type: none;
    margin: .25rem .5rem .25rem .5rem;
    font-size: 12px;
    padding: .5rem;
    color: #FFFFFF;
}

.DivImage {
    align-self: center;
    border-radius: 10px;
    padding: .25rem;
}

.Logo {
    max-width: 200px;
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: .5px;
    font-weight: 400;
}

.LinkLogo {
    text-decoration: none;
}

.Link {
    text-decoration: none;
    color: #222222;
}

.Link::after {
    display:block;
    content: '';
    border-bottom: solid 2px #FFFFFF;  
    transform: scaleX(0);  
    transition: transform 150ms ease-in-out;
}

.Link:hover:after { 
    transform: scaleX(1);
}

.ButtonSubir {
    cursor: pointer;
    position: fixed;
    top: 90vh;
    left: 90vw;
    border: none;
    background-color: transparent;
    margin: .75rem;
    border-radius: 10px;
    transition: 1s ease-in-out
}

.ButtonHidden {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 90vh;
    left: 90vw;
    border: none;
    background-color: transparent;
    margin: .75rem;
    border-radius: 10px;
    transition: 1s ease-in-out
}

.Subir {
    padding: .25rem;
    font-family: 'Rubik';
    font-size: 16px;
    border-radius: 10px;
}

.Subir:hover {
    background-color: #686396;
    color: #FFFFFF;
    transition: .2s ease-in-out;
}

@media (max-width: 480px) {
    .ContainerNavigationColor, .ContainerNavigationTransparent {
        flex-direction: column;
        justify-content: space-between;
    }

    .ButtonSubir {
        left: 80vw;
    }
    
    .ButtonHidden {
        left: 80vw;
    }

    .LiNavigationItem {
        margin: .25rem .25rem .25rem .25rem;
    }

    .Logo {
        font-size: 18px;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    .ContainerNavigation {
        flex-direction: column;
        justify-content: space-between;
    }

    .LiNavigationItem {
        margin: .25rem .25rem .25rem .25rem;
    }

    .Logo {
        font-size: 24px;
    }

    .ButtonSubir {
        cursor: pointer;
        position: fixed;
        top: 90vh;
        left: 85vw;
        border: none;
        background-color: transparent;
        margin: .25rem;
        border-radius: 10px;
        transition: 1s ease-in-out
    }

    .ButtonHidden {
        display: none;
        cursor: pointer;
        position: fixed;
        top: 90vh;
        left: 85vw;
        border: none;
        background-color: transparent;
        margin: .25rem;
        border-radius: 10px;
        transition: 1s ease-in-out
    }

    .Subir {
        padding: .25rem;
        font-family: 'Rubik';
        font-size: 16px;
        border-radius: 10px;
    }

    .Subir:hover {
        background-color: #686396;
        color: #FFFFFF;
        transition: .2s ease-in-out;
    }

}

@media (min-width: 769px) {
    .ButtonSubir {
        cursor: pointer;
        position: fixed;
        top: 90vh;
        left: 90vw;
        border: none;
        background-color: transparent;
        margin: .75rem;
        border-radius: 10px;
        transition: 1s ease-in-out
    }

    .ButtonHidden {
        display: none;
        cursor: pointer;
        position: fixed;
        top: 90vh;
        left: 90vw;
        border: none;
        background-color: transparent;
        margin: .75rem;
        border-radius: 10px;
        transition: 1s ease-in-out
    }

    .Subir {
        padding: .25rem;
        font-family: 'Rubik';
        font-size: 16px;
        border-radius: 10px;
    }

    .Subir:hover {
        background-color: #686396;
        color: #FFFFFF;
        transition: .2s ease-in-out;
    }
}